body {
    font-size:16pt; color:#999; 
  }
  
  
  .header {/*親div*/
    position: relative;
  }
  .header p {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-size:60pt;
    color: white;
  }
  
  footer{
    width: 100%;
    color: #6f6f6f;
    text-align: left;
    padding: 3px 0;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
  }

  .next {
    position: fixed;
    bottom: 20px;
    right: 10px;
     
    border:1px solid #888888;
    padding:2pt;
    background-color: #ffffff;
    filter:alpha(opacity=85);
    -moz-opacity:0.85;
    -khtml-opacity: 0.85;
    opacity:0.85;
        
    text-shadow: 0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #aaa; 
    -webkit-box-shadow: 1px 1px 2px #E7E7E7;
    -moz-box-shadow: 1px 1px 2px #E7E7E7; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
   }
   
   .back {
    position: fixed;
    bottom: 20px;
    left: 10px;
     
    border:1px solid #888888;
    padding:2pt;
    background-color: #ffffff;
    filter:alpha(opacity=85);
    -moz-opacity:0.85;
    -khtml-opacity: 0.85;
    opacity:0.85;
        
    text-shadow: 0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #aaa; 
    -webkit-box-shadow: 1px 1px 2px #E7E7E7;
    -moz-box-shadow: 1px 1px 2px #E7E7E7; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
   }